.intop {
    box-sizing: border-box;
    padding: 2px;
}

.list {
    margin-left: 50px;
    margin-top: 100px;
    margin-left: -80px;
    float: left;
}

.dreciption {
    margin-left: 100px;
    margin-top: 50px;
    float: left;
}

.first {
    float: left;
}

.next {
    float: left;
    text-align: left;
    border: 1px;
    border-style: solid;
}
.first, .next{
    position: absolute ;
}

.test{
    width: 500px;
}

.test1{
    width: 1015px;
    margin-top: 25px;
}

.test2{
    width: 1015px;
}

#myform , #myform1, #myform2, #myform3 {
    display: none;
    margin-left: 15px;
}

.information{
    box-sizing: border-box;
}

#mytext, #myfilm, #myaward, #mymusic{
    text-decoration: underline;
}

.table_in4{
    font-size: 13px;
    border-collapse: separate;
}




